<h1>Welcome to Burning Airline Backend</h1>
<p>What do you wanna do?</p>
<%= link_to 'See all Airplanes', 'airplanes' %> <br/>
<%= link_to 'See all Flights', 'flights' %> <br/>
<%= link_to 'See all Users', 'users' %> <br/>
<%= link_to 'See all Reservations', 'reservations' %>